Source: ros-kinetic-nao-meshes
Section: misc
Priority: extra
Maintainer: Mikael Arguedas <mikael.arguedas@gmail.com>
Build-Depends: debhelper (>= 9.0.0), openjdk-7-jdk, ros-kinetic-catkin
Homepage: http://github.com/vrabaud/nao_meshes/
Standards-Version: 3.9.2

Package: ros-kinetic-nao-meshes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: meshes for the Aldebaran Robotics NAO
